
absl-py==0.15.0
argon2-cffi==20.1.0
astunparse==1.6.3
async_generator==1.10
attrs==21.4.0
backcall==0.2.0
bleach==4.1.0 
beautifulsoup4==4.12.0
blis==0.7.8
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.8
certifi==2022.9.24
cffi==1.14.6
charset-normalizer==2.0.12
clang==5.0
click==8.0.4
colorama==0.4.4
confection==0.0.1
console_shortcut==0.1.1
console_shortcut_miniconda==0.1.1
contextvars==2.4
cramjam==2.5.0
cycler==0.11.0
cymem==2.0.6
cython==0.29.14
dataclasses==0.8
decorator==5.1.1
defusedxml==0.7.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.0/en_core_web_lg-3.4.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
et-xmlfile==1.1.0
entrypoints==0.3
fastparquet==0.8.0
filelock==3.4.1
flatbuffers==1.12
fsspec==2022.1.0
gast==0.4.0
gensim==3.8.3
gingerit==0.8.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googledrivedownloader==0.4
grpcio==1.48.2
h5py==3.1.0
huggingface-hub==0.4.0
idna==3.4
immutables==0.19
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.3.4
ipython==7.16.1
ipython_genutils==0.2.0
jedi==0.17.0
Jinja2==3.0.3
joblib==1.1.0
jsonschema==3.0.2
jupyter_client==7.1.2
jupyter_core==4.8.1
jupyterlab_pygments==0.1.2
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
langcodes==3.3.0
language-tool-python==2.7.1
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gmp==6.1.0
m2w64-libwinpthread-git==5.0.0.4634.697f757
Markdown==3.3.7
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
murmurhash==1.0.8
nltk==3.6.7
notebook==6.4.3
numpy==1.19.5
oauthlib==3.2.1
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.5
pandoc==2.12
pandocfilters==1.5.0
parso==0.8.3
parrot==0.0.16
pathy==0.6.2
pickleshare==0.7.5
pillow==8.4.0
pip==21.3.1
powershell_shortcut==0.0.1
powershell_shortcut_miniconda==0.0.1
prometheus_client==0.13.1
prompt-toolkit==3.0.20
pegasus==0.1.3
Pillow==8.4.0
preshed==3.0.7
protobuf==3.19.5
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.2
pygments==2.11.2
pyparsing==3.0.9
pyreadstat==1.1.3
pyrsistent==0.17.3
python==3.6.13
python-dateutil==2.8.2
pytz==2022.2.1
pywin32==228
pywinpty==0.5.7
PyYAML==6.0
pyzmq==22.2.1
regex==2022.9.13
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
sacremoses==0.0.53
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
selenium==3.141.0
send2trash==1.8.0
sentence-splitter==1.4
sentencepiece==0.1.97
setuptools==58.0.4
sherlock @ file:///geode2/home/u060/nickoshy/Carbonate/Sherlock/sherlock-project-master
six==1.15.0
sklearn==0.0.post10
smart-open==5.2.1
soupsieve==2.3.2.post1
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
sqlite==3.41.2
srsly==2.4.4
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.5.0
thinc==8.1.2
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.9.0+cpu
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
transformers==4.18.0
typer==0.4.2
typing-extensions==3.7.4.3
urllib3==1.26.12
vc==14.2
wasabi==0.10.1
wcwidth===0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
wrapt==1.12.1
wheel==0.37.1
wincertstore==0.2
winpty==0.4.3
xlrd==2.0.1
zipp==3.6.0

